
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 p-4 ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="toggler-plus">+</span>
  </button>
  
  <div class="collapse navbar-collapse " id="navbarNavDropdown">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <%= link_to "About", about_path, class: "nav-link " %>
      </li><li class="nav-item dropdown">
        <%= link_to "Courses", lesson_index_path, { :class => 'nav-link dropdown-toggle', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' } %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a href="https://db-dr.herokuapp.com/courses/best-lessons-in-london" class="dropdown-item" href="localhost:3000/lesson/10">Best Lessons in London</a>
          <a href="https://db-dr.herokuapp.com/courses/lesson-number-2" class="dropdown-item" href="localhost:3000/lesson/11">Lesson number 2</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <%= link_to "General Paediatrics", general_paediatric_index_path, { :class => 'nav-link dropdown-toggle', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' } %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Heart Murmurs</a>
          <a class="dropdown-item" href="#">Fits, faints and funny turns</a>
          <a class="dropdown-item" href="#">Constipation</a>
          <a class="dropdown-item" href="#">Urine infections</a>
          <a class="dropdown-item" href="#">Weight problems</a>
          <a class="dropdown-item" href="#">Diarrhoea</a>
          <a class="dropdown-item" href="#">Reflux</a>
          <a class="dropdown-item" href="#">Repeated infections</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <%= link_to "Respiratory Paediatrics", respiratory_paediatric_index_path, { :class => 'nav-link dropdown-toggle', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' } %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Sleep Apnoea</a>
          <a class="dropdown-item" href="#">Insomnia</a>
          <a class="dropdown-item" href="#">Night Terrors in Children<a>
          <a class="dropdown-item" href="#">Delayed Sleep Phase</a>
          <a class="dropdown-item" href="#">Attacks of Sleep</a>
        </div>
      </li>
      <li class="nav-item dropdown">
          <%= link_to "Allergy", disease_index_path, { :class => 'nav-link dropdown-toggle', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' } %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Food Allergy</a>
          <a class="dropdown-item" href="#">Gastrointestinal Allergy</a>
          <a class="dropdown-item" href="#">Asthma</a>
          <a class="dropdown-item" href="#">Eczema</a>
          <a class="dropdown-item" href="#">Hay Fever</a>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to "Usefull Links", links_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Covid-19", covid19_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Contact', contacts_path, class: "nav-link"  %>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<br>
<%# ------logo------------------ %>
<div class="logo-container bg-light d-flex justify-content-center mt-3"> 
  <%= link_to root_path do %> 
  <%= image_tag "logo2.png", class: "nav-logo" %> 
  <% end %> 
</div> 



