<section> 
  <div class="about-banner mt-5" style="background-image: url('<%= cl_image_path "hexa-background_t6ki8r" %>')">
    <div class="about-banner-text container ">
      <br>
      <br>
      <h2 data-aos="zoom-in" data-aos-duration="3000">About me</h2>
      <br>
      <br>
      <h4> I am currently working as a Consultant Paediatrician at St Bernard’s Hospital Gibraltar and finishing my fixed term contract soon.I would be privileged to work in your hospital to continue providing a high levelof Paediatric health care and education and contribute to the local Paediatricservice. 
      </h4>
      <br>
      <br>
      <h6 class="text-muted" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nostrum consequuntur illum quasi modi distinctio necessitatibus quod minus magnam cumque! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque, omnis explicabo, alias beatae placeat laborum illum pariatur vel quos sapiente, natus reprehenderit quia. Neque, impedit ea est rem sapiente voluptates? Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti adipisci quas ullam minus sit ut dicta a dolores officia nulla tempora rem reiciendis, minima nisi nihil voluptatibus vel. Cupiditate, quasi?</h6>
      <br>
      <br>
    </div>
  </div>
  <br>
  <br>
<%# ------cards links to classes------ %>
<div class="row">
  <%# ------ image card ------ %>
  <div class="col-sm-6">
    <div class="card border-0 h-100" style="width: 100%;"> 
      <div class="card-body container d-flex justify-content-center align-items-center">
        <%= image_tag "https://images.pexels.com/photos/3059748/pexels-photo-3059748.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500", class: "rounded w-75" %>
      </div>
    </div>
  </div>
  <%# ---------card info text------- %>
  <div class="col-sm-6 container second-backgr">
    <div class="container w-75 mt-5 mb-5">
      <h4>Courses</h4>
      <br>
      <p>Dr Orestis Georgiou is an author of 5 patents and 80 academic papers published in leading journals and conferences of Mathematics, Physics, Computer Science, Engineering and Medicine. As a Director of Research at Ultraleap he oversees all internal and external R&D activities and aligns them to the business needs and roadmaps. Through this role, Orestis has secured R&D grant funding in excess of €6 million including the two FET Open projects Levitate and H-Reality which he currently manages and contributes to. An avid networker, Orestis has built 80+ partnerships with leading academic and industrial research labs all around the world.</p>
      <br>
      <span data-aos="fade" data-aos-duration="3000"><%= link_to 'Find Courses', lesson_index_path, class: "btn btn-warning btn-lg"  %></span>
    </div>
  </div>
</div>
<%# ---------card link to contacts------ %>
<%# ------cards links to classes------ %>
<div class="row">
  <%# ---------card info text------- %>
  <div class="col-sm-6 container second-backgr">
    <div class="container w-75 mt-5 mb-5">
      <h4>Contacts</h4>
      <br>
      <p>Dr Orestis Georgiou is an author of 5 patents and 80 academic papers published in leading journals and conferences of Mathematics, Physics, Computer Science, Engineering and Medicine. As a Director of Research at Ultraleap he oversees all internal and external R&D activities and aligns them to the business needs and roadmaps. Through this role, Orestis has secured R&D grant funding in excess of €6 million including the two FET Open projects Levitate and H-Reality which he currently manages and contributes to. An avid networker, Orestis has built 80+ partnerships with leading academic and industrial research labs all around the world.</p>
      <br>
      <span data-aos="fade" data-aos-duration="3000"><%= link_to "Get in touch", contacts_path, class: "btn btn-warning btn-lg" %></span>
    </div>
  </div>
 <%# ------ image card ------ %>
  <div class="col-sm-6">
    <div class="card border-0 h-100" style="width: 100%;"> 
     <div class="card-body container d-flex justify-content-center align-items-center">
      <%= image_tag "https://images.pexels.com/photos/263564/pexels-photo-263564.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500", class: "rounded w-75" %>
       
     </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
  <%# -----expertise------- %>
<h3 class="text-center">PROFESSIONAL QUALIFICATIONS FRCPCH (UK)</h3>

<div class="row">
  <%# ------ image card ------ %>
  <div class="col-sm-6">
    <div class="container  mt-5 mb-5">
      <ul>
          <li>Awarded 1st March 2012 Royal College of Paediatrics & Child Health, LondonMRCPCH (UK)</li>
          <li>Awarded 1st Jan 2003 Royal College of Paediatrics & Child Health, LondonDCH (LONDON)</li>
          <li>Awarded 28th May 2002 Royal College of Paediatrics & Child Health, LondonMD (Clinical Pharmacology)(CALCUTTA)</li>
          
        </ul>
    </div>
  </div>
  <%# ---------card info text------- %>
  <div class="col-sm-6 container">
    <div class="container  mt-5 mb-5">
      <ul>
          <li>Awarded 1st May 1993 Institute of Child Health, Calcutta University, IndiaMBBS (BURDWAN)</li>
          <li>Awarded 4th December 1990 Burdwan Medical College, Burdwan University, (India)</li>
          <li>Awarded 27th May 1997 University College of Medicine, Calcutta University, IndiaDCH (CALCUTTA)</li>
        </ul>
    </div>
  </div>
</div>
</section>